<!DOCTYPE html>
<html>
<head>
	<title>Thêm bài viết</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Krona One' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/add-post.css">
	<script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
	<div>
		<header id="header">
 			<div id="container">
	
				<nav class="navbar navbar-expand-lg">
		  
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
					<div id="papername">dogenews</div>
		  			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		  				&nbsp &nbsp &nbsp &nbsp
		    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      				<li class="nav-item active"><a class="nav-link" href="#"><h2>Post</h2> <span class="sr-only">(current)</span></a></li>

		    			</ul>
					    <form class="form-inline my-2 my-lg-0">
					      	<input class="form-control mr-sm-2" type="search" placeholder="Search">
					      	<button id="btnSearch" type="submit">Search &nbsp</button>

		            	</form>
		            	<div>
		            		<a href="#" data-toggle="dropdown"><i class="fa fa-user-circle" style="font-size:36px"></i></a>
		            		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		            			<div class="col-lg-12"> 
		                			<form class="px-4 py-3">
		    							<!-- Thông tin người dùng
		    							-->
			  						</form>
			  						<div class="dropdown-divider"></div>
		  							
		            			</div>
		            		</ul>		
	            		</div>
	            		
	            	</div>
	        	</nav>
	    	</div>
 		</header>

			
		<div id="container" align="center">
			<div id="title-add">
				<h2 align="center">Thêm bài viết mới</h2>
			</div>
        	<form method="post" enctype="multipart/form-data">
        	<table id="add-prd" border="0" cellpadding="0" cellspacing="0" width="70%">
            	<tr>
                	<td><label>Tên bài viết</label><br /><input type="text" name="ten_bv" autofocus /></td>
                </tr>
                <tr>
                	<td><label>Ảnh mô tả<br /><input type="file" name="anh_bv" /></label></td>
                </tr>
                <tr>
                	<td><label>Danh mục</label><br />
                        <select class="selectpicker" style="width:50%">
                          <optgroup label="Thời sự">
                            <option>Chính trị</option>
                            <option>Giao thông</option>
                            <option>Đô thị</option>
                          </optgroup>
                          <optgroup label="Pháp luật">
                            <option>Pháp đình</option>
                            <option>Vụ án</option>
                          </optgroup>
                          <optgroup label="Thế giới">
                            <option>Quân sự</option>
                            <option>Tư liệu</option>
                            <option>Phân tích</option>
                          </optgroup>
                          <optgroup label="Kinh doanh">
                            <option>Bất động sản</option>
                            <option>Hàng không</option>
                            <option>Tài chính</option>
                            <option>Tiêu dùng</option>
                          </optgroup>
                          <optgroup label="Thời sự">
                            <option>Chính trị</option>
                            <option>Giao thông</option>
                            <option>Đô thị</option>
                          </optgroup>
                          <optgroup label="Công nghệ">
                            <option>Mobile</option>
                            <option>AI</option>
                            <option>SmartHome</option>
                            <option>Startup</option>
                          </optgroup>
                          <optgroup label="Thể thao">
                            <option>Thể thao Việt Nam</option>
                            <option>Cúp Châu Âu</option>
                            <option>Thể thao thế giới</option>
                            <option>Bóng đá Anh</option>
                            <option>Bóng đá Việt Nam</option>
                            <option>Hậu trường thể thao</option>
                          </optgroup>
                          <optgroup label="Sống trẻ">
                            <option>Gương mặt trẻ</option>
                            <option>Cộng đồng mạng</option>
                            <option>Sự kiện</option>
                          </optgroup>
                          <optgroup label="Giáo dục">
                            <option>Tuyển sinh 2019</option>
                            <option>Tư vấn</option>
                            <option>Du học</option>
                            <option>Học tiếng Anh</option>
                          </optgroup>
                          <optgroup label="Sức khỏe">
                            <option>Khỏe đẹp</option>
                            <option>Dinh dưỡng</option>
                            <option>Mẹ và bé</option>
                            <option>Bệnh thường gặp</option>
                          </optgroup>
                          <optgroup label="Ẩm thực">
                            <option>Địa điểm ăn uống</option>
                            <option>Món ngon</option>
                          </optgroup>
                        </select>

                    </td>
                </tr>
                
                <tr>
                	<td><label>Chi tiết bài đăng</label><br /><textarea cols="60" rows="12" name="chi_tiet_bd" id="chi_tiet_bd"></textarea></td>
                </tr>
                <tr>
                	<td><label>Tags:<input type="text" name="tags"></label> </td>
                </tr>
                <tr>
                	<td><input type="submit" name="submit" value="Thêm mới" /> <input type="reset" name="reset" value="Làm mới" /></td>
                </tr>
            </table>
            </form>
    	</div>
		</div>
	</div>
	<script>
            CKEDITOR.replace( 'chi_tiet_bd' );
    </script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>