
{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="add-post.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/ckeditor/ckeditor.js"></script>
{{/section}}
{{#section 'js'}}
	<script>
		CKEDITOR.replace('chi_tiet_bd');
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
  $(function () {
    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadUrl: '/upload',
      uploadAsync: false,
    });
  })
</script>
{{/section}}
<div>
		<header id="header">
 			<div id="container">
	
				<nav class="navbar navbar-expand-lg">
		  
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
					<div id="papername">dogenews</div>
		  			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		  				&nbsp &nbsp &nbsp &nbsp
		    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      				<li class="nav-item active"><a class="nav-link" href="#"><h2>Post</h2> <span class="sr-only">(current)</span></a></li>

		    			</ul>
					    <form class="form-inline my-2 my-lg-0">
					      	<input class="form-control mr-sm-2" type="search" placeholder="Search">
					      	<button id="btnSearch" type="submit">Search &nbsp</button>

		            	</form>
		            	<div>
		            		<a href="#" data-toggle="dropdown"><i class="fa fa-user-circle" style="font-size:36px"></i></a>
		            		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		            			<div class="col-lg-12"> 
		                			<form class="px-4 py-3">
		    							<!-- Thông tin người dùng
		    							-->
			  						</form>
			  						<div class="dropdown-divider"></div>
		  							
		            			</div>
		            		</ul>		
	            		</div>
	            		
	            	</div>
	        	</nav>
	    	</div>
 		</header>

    <div id="container" class="card shadow">
			<h4 class="card-header">
        Add Post
      </h4>
			<br>
			<div class="card-body">
				<form method="POST" action="">
        	<table id="add-prd" border="0" cellpadding="0" cellspacing="0" width="70%">
            	<tr>
                	<td><label>Tên bài viết</label><br /><input type="text" name="title" autofocus /></td>
                </tr>
                <tr>
                	<td>
      					<div class="form-group">
        					<label for="fuMain">Photo</label>
        					<div class="file-loading">
          						<input id="fuMain" name="fuMain" type="file">
        					</div>
      					</div>
      						
					</td>
                </tr>
                <tr>
                	<td>
                    <label>Danh mục</label><br />
                        <select class="selectpicker" name="IDCat">
                          {{#each this.groups}}
	                          <optgroup label="{{group}}">
	                            {{#each ../this.categories}} 
		                            {{#ifEquals ../ID IDGroup}}
			                            <option value="{{ID}}">{{category}}</option>											  
		                            {{/ifEquals}}
                            	{{/each}}
                              </optgroup>
                            {{/each}}
                          </select>

                    </td>
                </tr>
                
                <tr>
                	<td><label>Chi tiết bài đăng</label><br /><textarea cols="60" rows="12" name="chi_tiet_bd" id="chi_tiet_bd"></textarea></td>
                </tr>
                <tr>
                	<td><label>Tags:<input type="text" name="tags"></label> </td>
                </tr>
                <tr>
                	<td><button type="submit" class="btn-success submitButton">
        						<i class="fa fa-check" aria-hidden="true"></i>
       							 Save
      						</button> <input type="reset" name="reset" value="Làm mới" /></td>
                </tr>
            </table>
            </form>
  			</div>
			
	</div>
</div>


